* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.window {
    margin: auto;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    font-size: 48px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #222;
}

li {
    list-style-type: none;
}

.header {
    background-color: rgb(7, 94, 164);
    background-image: url(../img/bg.jpg);
    padding: 30px;
    display: flex;
}

.header_logo {
    width: 170px;
    height: 50px;
}

.header_nav {
    margin-left: 5%;
    padding-top: 15px;
}

.header_nav ul li {
    display: inline;
    font-size: 32px;
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: 700;
}

#main_category_toggle {
	display: none;
}

.main_category_toggle {
	position: relative;
	display: none;
	border: 0;
	outline: 0;
	background: none;
}

.main_category_toggle::before {
	content: "≡";
	color: #222;
	font-size: 30px;
}

.main_category_vtoggle:hover::before {
	color: #222;
}

._main_category_toggle label {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.window_wrapper {
    flex: 1 0 auto;
}

.enter_account {
    margin-left: auto;
    font-size: 24px;
    margin-top: 10px;
}

.content {
    display: flex;
    font-size: 24px;
    min-height: 600px;
}

.main_category {
    width: calc(20% - 15px);
    background-color: rgb(7, 94, 164);
    background-image: url(../img/bg.jpg);
    font-size: 32px;
    padding: 10px;
    text-align: center;
}

.main_category ul {
    margin-left: 15px;
    font-size: 32px;
}

.main_category ul a:hover {
    color: rgb(235, 255, 142);
}

.main_category ul li:nth-child(1) {
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
}

.main_posts {
    width: calc(80% - 15px);
    background-color: rgb(235, 255, 142);
    margin-left: 30px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.main_posts a {
    color: rgb(7, 94, 164);
}

.main_posts_wrapper {
    flex: 1 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
    padding: 10px;
}

td {
    width: 33.33%;
}

tr:nth-child(1) td {
    font-size: 28px;
    font-weight: 700;
    border-bottom: 1px solid black;
}

tr:nth-child(3) td {
    padding: 0 30px;
}

.main_posts a {
    color: rgb(7, 94, 164);
}

.main_posts a:hover {
    color: black;
}

.main_posts p:nth-child(1) {
    font-weight: 100;
    font-size: 24px;
}

.main_post_text {  /**/
    margin: 20px;
}

.pages_pagination {
    padding: 20px 10px;
    flex-shrink: 0;
}

.pages_pagination a {
    padding: 0 5px;
}

.gallery {
    width: 300px;
    height: 300px;
}

.add_product form {
    font-size: 28px;
    text-align: center;
}

.add_product form textarea,
.add_product form select {
    border: 1px solid rgb(39, 123, 218);
    margin: 10px 0;
}

.add_product form button {
    padding: 10px 20px;
    background-color: rgb(39, 123, 218);
    border: 2px solid rgb(39, 123, 218);
    cursor: pointer;
    font-size: 24px;
    margin: 10px 0;
}

.add_product form button:hover {
    background-color: white;
}

textarea {
    resize: none;
}

.all_users {
    font-size: 28px;
    padding: 20px;
}

.autorization,
.registration {
    border: 3px solid black;
    padding: 10px;
    width: 400px;
    margin: 10% auto 0 auto;
    font-size: 32px;
    text-align: center;
}

.autorization_title,
.autorization_error,
.registration_title,
.registration_error {
    font-size: 32px;
    width: 360px;
    text-align: center;
    margin: 10px auto 0 auto;
}

.autorization input,
.registration input {
    width: 99%;
    height: 40px;
    font-size: 32px;
}

.autorization button,
.registration button {
    margin-top: 10px;
    width: 190px;
    font-size: 28px;
}

.footer {
    margin-top: 40px;
    display: flex;
    background-color: #222;
    background-image: url(../img/bg-footer.jpg);
    padding: 30px;
    color: white;
    flex-shrink: 0;
}

.footer ul {
    margin-left: calc(100% - 600px);
}